# Check pnl across trades and positions

* Compare trade pnl between two subgraphs
* Compare position pnl between two subgraphs

In [40]:
import os
from copy import deepcopy
from datetime import datetime
import asyncio
import requests
import pandas as pd
import numpy as np
import json
import sqlite3
from gql import Client, gql
from gql.transport.aiohttp import AIOHTTPTransport
from decimal import Decimal
from dotenv import load_dotenv
import plotly.io as pio
import plotly.express as px
from web3 import Web3
from web3.middleware import geth_poa_middleware

load_dotenv()

pio.renderers.default = 'notebook'

In [41]:
## constants
INFURA_KEY = os.getenv('INFURA_KEY')
RPC_ENDPOINT = f'https://optimism-mainnet.infura.io/v3/{INFURA_KEY}'

# set up sqlite connection
con = sqlite3.connect("../../data/perps.db")

# get a web3 provider
w3 = Web3(Web3.HTTPProvider(RPC_ENDPOINT))

In [42]:
# data contract
with open('../abi/PerpsV2Data.json', 'r') as file:
    PerpsV2DataAbi = json.dumps(json.load(file))

PerpsV2DataAddress = "0xF7D3D05cCeEEcC9d77864Da3DdE67Ce9a0215A9D"

## Get transfers and trades

In [43]:
df_trade = pd.read_sql_query('SELECT * FROM trades', con)
df_transfer = pd.read_sql_query('SELECT * FROM transfers', con)

In [44]:
## summarize transfers
df_transfer_summ = df_transfer.groupby('asset')['size'].sum().reset_index()
df_transfer_summ.columns = ['asset', 'netTransfers']

## summarize trades
df_trade_summ = df_trade.groupby('asset')['feesPaid'].sum().reset_index()
df_trade_summ.columns = ['asset', 'feesPaid']

In [45]:
df_trade_summ

    asset       feesPaid
0    AAVE    5094.591762
1     APE   30758.247973
2    ATOM   28396.377724
3     AUD      81.850207
4    AVAX   42987.663092
5     AXS    2664.839332
6     BNB   50876.626429
7    DOGE   10437.786591
8    DYDX   35656.608562
9     EUR    2142.781228
10   FLOW    1390.134373
11    FTM   51752.659267
12    GBP     597.193431
13   LINK   92503.661402
14  MATIC   87282.571105
15   NEAR    1234.474517
16     OP  207744.604146
17    SOL  111622.346456
18    UNI   10702.703136
19    XAG    4411.273140
20    XAU    3394.938017
21   sBTC  793610.582846
22   sETH  932899.404332

## Get the market data

In [47]:
perpsV2Data = w3.eth.contract(address=PerpsV2DataAddress, abi=PerpsV2DataAbi)
marketSummaries = perpsV2Data.functions.allProxiedMarketSummaries().call()

In [48]:
markets = [{
    'asset': market[1].decode().replace('\x00', ''),
    'marketDebt': w3.fromWei(market[7], unit='ether')
} for market in marketSummaries]

df_markets = pd.DataFrame(markets)
df_markets['marketDebt'] = df_markets['marketDebt'].astype(float)
df_markets

    asset    marketDebt
0    sETH  8.108333e+06
1    sBTC  8.254472e+06
2    LINK  3.797184e+05
3     SOL  6.703578e+05
4    AVAX  3.215581e+05
5    AAVE  2.201287e+03
6     UNI  1.011234e+05
7   MATIC  4.501527e+05
8     APE  6.550199e+04
9    DYDX  3.924243e+04
10    BNB  6.595351e+05
11     OP  3.831116e+05
12   DOGE  4.157113e+04
13    XAU  1.059801e+05
14    XAG  1.011805e+05
15    EUR  9.264297e+04
16   ATOM  1.799488e+04
17    AXS  2.462569e+03
18   FLOW  4.438670e+03
19    FTM  4.189728e+04
20   NEAR  1.729473e+03
21    AUD  1.401053e+03
22    GBP  1.975657e+03

In [49]:
df_markets.dtypes

asset          object
marketDebt    float64
dtype: object

In [50]:
df_pnl = df_markets.merge(df_transfer_summ, on='asset').merge(df_trade_summ, on='asset')
df_pnl['netPnl'] = df_pnl['marketDebt'] - df_pnl['netTransfers'] - df_pnl['feesPaid']
df_pnl

    asset    marketDebt  netTransfers       feesPaid        netPnl
0    sETH  8.108333e+06  8.868274e+06  932899.404332 -1.692840e+06
1    sBTC  8.254472e+06  8.625212e+06  793610.582846 -1.164351e+06
2    LINK  3.797184e+05  4.669901e+05   92503.661402 -1.797753e+05
3     SOL  6.703578e+05  7.350607e+05  111622.346456 -1.763252e+05
4    AVAX  3.215581e+05  2.511730e+05   42987.663092  2.739750e+04
5    AAVE  2.201287e+03  3.721074e+02    5094.591762 -3.265412e+03
6     UNI  1.011234e+05  1.152431e+05   10702.703136 -2.482233e+04
7   MATIC  4.501527e+05  5.444329e+05   87282.571105 -1.815627e+05
8     APE  6.550199e+04  3.571943e+04   30758.247973 -9.756797e+02
9    DYDX  3.924243e+04  5.921073e+04   35656.608562 -5.562491e+04
10    BNB  6.595351e+05  6.662228e+05   50876.626429 -5.756433e+04
11     OP  3.831116e+05  4.675448e+05  207744.604146 -2.921778e+05
12   DOGE  4.157113e+04  4.319467e+04   10437.786591 -1.206132e+04
13    XAU  1.059801e+05  1.153595e+05    3394.938017 -1.277436e+04
14    XAG  1.011805e+05  7.225674e+04    4411.273140  2.451253e+04
15    EUR  9.264297e+04  9.731310e+04    2142.781228 -6.812917e+03
16   ATOM  1.799488e+04  3.627720e+04   28396.377724 -4.667869e+04
17    AXS  2.462569e+03  2.155329e+04    2664.839332 -2.175556e+04
18   FLOW  4.438670e+03  7.757059e+03    1390.134373 -4.708524e+03
19    FTM  4.189728e+04  1.181593e+05   51752.659267 -1.280147e+05
20   NEAR  1.729473e+03  2.820307e+03    1234.474517 -2.325309e+03
21    AUD  1.401053e+03  1.500745e+03      81.850207 -1.815424e+02
22    GBP  1.975657e+03  3.466330e+03     597.193431 -2.087866e+03

In [51]:
df_pnl.to_csv('output/market_upnl.csv', index=False)

In [52]:
df_pnl['netPnl'].sum()

-4014774.990959737

In [53]:
df_pnl['netPnlClean'] = df_pnl['netPnl'].apply(lambda x: round(x, 2))
df_pnl[['asset', 'netPnlClean']].sort_values('netPnlClean', ascending=True)

    asset  netPnlClean
0    sETH  -1692839.83
1    sBTC  -1164350.77
11     OP   -292177.78
7   MATIC   -181562.71
2    LINK   -179775.29
3     SOL   -176325.23
19    FTM   -128014.66
10    BNB    -57564.33
9    DYDX    -55624.91
16   ATOM    -46678.69
6     UNI    -24822.33
17    AXS    -21755.56
13    XAU    -12774.36
12   DOGE    -12061.32
15    EUR     -6812.92
18   FLOW     -4708.52
5    AAVE     -3265.41
20   NEAR     -2325.31
22    GBP     -2087.87
8     APE      -975.68
21    AUD      -181.54
14    XAG     24512.53
4    AVAX     27397.50